<h1>Crear y modificar usuarios</h1>
<div>
    <form>
        <label for="name">Nombre: </label>
        <input type="text" required name="name"/>
        <label for="username">Usuario: </label>
        <input type="text" required name="username" />
        <label for="email">Email: </label>
        <input type="text" required name="email" />
        <label for="Direccion">Direccion</label><br>
        <label for="calle">Calle: </label>
        <input type="text" required name="calle" />
        <label for="ciudad">Ciudad: </label>
        <input type="text" required name="ciudad" />
        <label for="cp">Codigo postal: </label>
        <input type="number" required name="cp" />
        <label for="telefono">Telefono: </label>
        <input type="number" required name="telefono" />
        <button>Crear usuario</button>
    </form>
</div>